// ------------------------------------------------------------------
// General
// ------------------------------------------------------------------

body
	background-color: $whiteGray
	overflow-x: hidden


	& > section
		padding-top: 60px
		padding-bottom: 60px


#header
	height: 500px
	display: block
	position: relative
	background-position: center center
	background-repeat: no-repeat
	+bgCover

	#titleWrapper
		z-index: 1
		padding-top: 260px

	.featureImg
		width: 100%
		height: 100%
		overflow: hidden
		position: absolute
		top: 0
		left: 0
		right: 0
		z-index: 0

		img
			position: relative
			left: 50%
			+translateX(-50%)
			min-height: 100%
			min-width: 100%
			display: block


#contactHeader
	background: rgba(0,0,0,0.4)
	position: relative
	display: block
	height: 30px
	z-index: 1


	#tagline
		position: absolute
		left: 40px
		width: 220px
		text-align: left

	#contactInfo
		position: absolute
		left: 300px
		right: 40px
		text-align: right

		span
			margin-left: 60px

	span
		display: inline-block
		font-size: 10px
		font-weight: 600
		color: $whitePure
		opacity: 0.5
		line-height: 30px

		&:hover
			opacity: 1
			+scale(1.2)


#lakebaLogo
	position: absolute
	left: 40px
	top: 10px
	display: block
	z-index: 99

	+mobile
		left: 20px

	img
		width: 140px
		display: block

	&:hover
		img
			+scale(1.2)



#navWrapper
	z-index: 10
	position: relative
	position: -webkit-sticky
	position: sticky
	display: block
	padding-top: 20px
	+clearfix

	#nav
		display: block
		width: 100%
		padding-left: 160px
		height: 60px
		text-align: right

		li
			position: relative
			display: block

			a, span
				display: block
				opacity: 0.6
				font-weight: 600
				line-height: 15px
			
				&:hover
					opacity: 1


			//span
				//pointer-events: none



			ul
				display: block
				text-align: left
				padding: 0px 5px 0px 15px
				+clearfix
				+transition(none)

				span, a
					font-size: 12px
					color: #000
					padding: 10px 15px

				li
					ul
						li:before
							display: block
							content: " "
							position: absolute
							top: 50%
							height: 2px
							margin-top: -1px
							width: 5px
							background: #000


		& > li
			display: inline-block


			& > a, & > span
				color: #fff
				font-size: 16px
				padding: 0 20px
				line-height: 60px
				+transition
				
				&:hover
					+scale(1.2)

			& > ul
				position: absolute
				background: #fff
				padding: 15px
				left: -15px
				width: 180px

				li, a, span
					width: 100%

			&:last-child
				ul
					left: auto
					right: 0


	#navMobileButton
		//display: none
		visibility: hidden
		pointer-events: none
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		border: 0
		padding: 0
		background: none
		position: absolute
		right: 40px
		height: 40px
		width: 40px
		line-height: 40px
		margin-top: 10px

		span
			position: relative

			&, &:before, &:after
				width: 40px
				height: 2px
				background: $whitePure
				display: block
				content: ' '

			&
				top: 0
				

			&:before
				top: -10px
				position: absolute

			&:after
				bottom: -10px
				position: absolute

		&.active

			span
				&
					height: 0

				&:before
					+rotate(45deg)
					top: -1px

				&:after
					+rotate(-45deg)
					bottom: -1px




#footer
	background: $grayDarkBlue
	border-top: 20px solid $grayDark
	padding-top: 50px
	display: block
	width: 100%
	+clearfix

	#sitemapWrapper
		+clearfix

		#contactFooter
			+col(3,0,0,0)
			
			& > div
				background: #1A2737
				padding: 20px 40px
				margin-top: 40px

				span
					color: $gray
					font-size: 16px
					line-height: 1.5
					margin: 20px 0
					+clearfix
					display: block

					b
						display: block
						color: $whitePure
						font-weight: 600
						margin-bottom: 5px

		#sitemap
			+col(9,0,0,0)
			padding-top: 64px

			a
				color: $whitePure
				opacity: 0.6
				font-size: 14px
				line-height: 20px
				padding: 23px 0
				display: block
				position: relative

				&:hover
					opacity: 1

			& > nav
				+col(3,0,0,0)
				padding-left: 50px
				+clearfix

				& > a
					&:after
						content: ''
						position: absolute
						left: 0px
						bottom: 0
						height: 2px
						background-color: $whitePure
						width: 20px

					&:hover
						&:after
							width: 100px


			nav.ventures
				+col(6,0,0,0)
				padding-left: 50px
				nav
					+clearfix
					margin-top: 5px
					a
						font-size: 14px
						+box-sizing(border-box)
						width: 50%
						float: left
						padding: 14px 0
						padding-left: 20px

	h4
		display: block
		text-transform: uppercase
		font-weight: 300
		line-height: 20px
		font-size: 30px
		color: $gray
		text-align: center
		margin-top: 80px
		margin-bottom: 0

	#partnersFooter
		padding: 40px
		text-align: center
		display: block
		+clearfix
		a
			display: inline-block
			padding: 20px
			opacity: 0.3

			img
				display: block
				height: 50px

			&:hover
				+scale(1.2)
				opacity: 1


	footer
		background: $grayDark
		padding: 20px 0
		display: block
		width: 100%
		text-align: center
		+clearfix

		a
			font-size: 14px
			font-weight: 400
			display: block
			margin: 0 auto
			line-height: 30px
			color: rgba($whitePure, 0.4)
			padding: 10px 0

			&:hover
				+scale(2)
				color: $whitePure

			img
				display: inline-block
				width: 24px
				+translateY(5px)
				margin: 0 5px


.content
	padding-top: 80px
	padding-bottom: 80px

	& .subtitle
		display: block
		position: relative
		font-size: 30px
		line-height: 1.2
		padding-bottom: 80px
		margin-bottom: 80px
		width: 70%
		max-width: 100%

		&:before
			position: absolute
			bottom: 4px
			left: 0
			height: 4px
			width: 80px
			background: $grayDark
			display: block
			content: ' '

		b
			position: relative
			display: inline-block
			color: $whitePure

			&:before
				position: absolute
				left: -10px
				top: -10px
				bottom: -10px
				right: -10px
				background: $red
				content: ' '
				z-index: -1







// ------------------------------------------------------------------
// Home page
// ------------------------------------------------------------------

body
	#header
		height: 620px

		h1, h2
			color: $whitePure
			line-height: 60px
			+col(8,0,0,0)


		h1
			margin-bottom: 30px

		h2
			font-weight: 200
			font-size: 50px	


		#titleWrapper
			padding-top: 140px 


#homepage
	background-image: url(img/lakeba-logo-bg.jpg)
	background-position: 590px 460px
	background-repeat: no-repeat

	#header
		height: 620px

	#headerComplement
		section
			position: relative
			padding-top: 0

			#blueBox
				position: absolute
				left: 0
				top: -50px
				width: 360px
				background: $grayDarkBlue
				padding: 45px 30px
				display: block
				z-index: 1

				a
					+box-sizing(border-box)
					font-size: 30px
					padding: 15px
					text-align: left
					display: block
					color: $whitePure
					opacity: 0.6
					font-weight: 600


					&:hover
						opacity: 1
						+scale(1.2)

			#venturesLinks
				+animate(fadeInUp)
				padding: 40px 0 0 400px

				h3
					font-weight: 600
					padding-bottom: 30px
					margin-bottom: 20px
					position: relative

					&:after
						position: absolute
						left: 0
						bottom: 0
						height: 2px
						width: 40px
						display: block
						background: $grayDarkBlue
						content: " "

				nav
					a
						+col(3,0,0,0)
						font-weight: 400
						color: $grayDarkBlue
						padding: 20px 40px 
						opacity: 0.6

						&:hover
							+scale(1.2)
							background: $whiteBlue
							opacity: 1

	#solutions
		&.active
			// Loop animation.
			@for $i from 1 through 8
				.industryBox
					&:nth-of-type(#{$i})
						+animate(zoomIn)
						animation-delay: $i * 0.3s

		
		align-items: center
		justify-content: center
		padding-top: 60px
		padding-bottom: 60px

		h3
			color: $grayLight
			text-transform: uppercase
			font-weight: 600
			font-size: 55px
			line-height: 60px
			+col(12,0,8,0)
			padding-top: 80px
			margin-bottom: 40px

		.industryBox
			+col(3,30,2,0)
			height: 300px
			background: $whitePure
			position: relative
			+animate(zoomOut)

			img
				display: block
				width: 40%
				position: absolute
				top: 50%
				left: 50%
				margin-top: -20%
				margin-left: -20%
				opacity: 0.3
				+filter(saturate,0%)

			span
				position: absolute
				top: 190px
				right: 50px
				left: 50px
				bottom: 30px
				font-size: 18px
				line-height: 22px
				vertical-align: middle
				text-align: center
				font-weight: 600
				color: $grayDark
				opacity: 0

			&:hover
				+scale(1.1)
				z-index: 1
				+box-shadow(0, 15px, 100px, rgba($grayDarkBlue, 0.2))

				img
					+scale(0.7)
					top: 40%
					opacity: 1
					+filter(saturate,100%)

				span
					opacity: 1

	#corporateResponsibility
		height: 620px
		position: relative
		margin: 60px 0
		padding: 0 20px
		+clearfix

		.wrapper
			position: relative
			+clearfix
			height: 620px

		h3
			position: absolute
			top: 80px
			left: 0
			right: 62%
			color: $grayLight
			text-transform: uppercase
			font-weight: 600
			font-size: 40px
			line-height: 40px
			display: block
			text-align: right
			z-index: 1

		.responsibilityType
			// 1% = 14.4px
			position: absolute
			height: 400px
			width: 56%
			background-position: center center
			+bgCover
			display: block
			font-size: 60px
			line-height: 1
			color: $whitePure
			padding-top: 220px

			&.social
				top: 0
				right: 0
				text-align: left
				padding-left: 70px
				background-image: url(img/social-bg.jpg)
				z-index: 2


			&.environmental
				bottom: 0
				left: 0
				text-align: right
				padding-right: 70px
				background-image: url(img/environmental-bg.jpg)
				z-index: 1

		.quote
			position: absolute
			bottom: 0
			right: 40px
			font-family: "lora"
			font-size: 24px
			line-height: 1.25
			text-align: right
			display: block
			width: 260px

			b
				padding-top: 20px
				font-size: 15px
				display: block
				font-weight: bold

		&
			.social
				+animate(slideOutRight)

			.environmental
				+animate(slideOutLeft)

		&.active
			.social
				+animate(slideInRight)

			.environmental
				+animate(slideInLeft)
		
	#shortcutsLinks
		width: 100%
		position: relative
		height: 560px
		+clearfix
		overflow-x: hidden

		main > div
			+transition-duration(1s)
			text-align: center
			width: 400px
			display: block
			padding: 60px 40px 20px 40px
			position: absolute
			background: $whiteGray
			z-index: 0
			+scale(0.7)
			margin-left: -200px
			margin-top: -20px
			+box-shadow(0, 15px, 50px, rgba($grayDarkBlue, 0.3))
			height: 410px

			h4, span
				opacity: 0.4

			h4
				font-size: 60px
				line-height: 1
				margin-bottom: 50px
				color: $grayDarkBlue

			span
				font-size: 20px
				line-height: 1.5
				color: $grayDarkBlue
				font-weight: 300

			a
				position: absolute
				bottom: -50px
				height: 70px
				line-height: 70px
				color: $whitePure
				font-size: 16px
				font-weight: 600
				background: $grayDarkBlue
				width: 180px
				display: block
				margin-left: -90px
				left: 50%
				opacity: 0
				visibility: hidden

			&.prevLeftSecond
				z-index: 4
				left: 6%

			&.prev
				z-index: 5
				left: 26%

			&.selected
				+box-shadow(0, 15px, 100px, rgba($grayDarkBlue, 0.7))
				background: $whitePure
				opacity: 1
				z-index: 2
				+scale(1)
				z-index: 10
				left: 50%
				margin-top: 0

				h4, span
					opacity: 1

				a
					opacity: 1
					visibility: visible

			&.next
				z-index: 5
				left: 74%

			&.nextRightSecond
				z-index: 4
				left: 94%


			&.hideLeft
				left: -16%
				+scale(0)
				opacity: 0


			&.hideRight
				left: 114%
				+scale(0)
				opacity: 0



		button
			width: 80px
			height: 50px
			background-repeat: no-repeat
			background-position: center center
			background-color: transparent
			display: block
			position: absolute
			bottom: 65px
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none
			border: 0

			&#next
				right: 50%
				margin-right: -320px
				background-image: url(img/bt-next.png)

			&#prev
				left: 50%
				margin-left: -320px
				background-image: url(img/bt-prev.png)

		&
			+animate(bounceOut)
				
		&.active
			+animate(bounceIn)

	#newsHome
		padding-top: 60px
		padding-bottom: 60px

		h3
			color: $grayLight
			text-transform: uppercase
			font-weight: 600
			font-size: 70px
			line-height: 69px
			display: block
			padding: 20px

		article
			
			width: 33.3%
			padding: 20px
			height: 240px
			display: block
			position: relative
			float: left
			+animate(fadeOut)
			

			&.big
				width: 66.6%
				height: 480px
				h1
					font-size: 40px
					left: 70px
					bottom: 70px
					right: 70px

			a
				width: 100%
				height: 100%
				overflow: hidden
				display: block
				
				img
					display: block
					width: 100%
					height: auto
					+scale(1)

				&:hover
					img
						+filter(brightness, 60%)
						+scale(1.2)


			h1
				display: block
				position: absolute
				left: 50px
				right: 50px
				bottom: 50px
				margin: 0
				font-size: 18px
				line-height: 1.25
				color: $whitePure

			.label
				background: $whitePure
				position: absolute
				top: 30px
				right: 30px
				display: block
				padding: 15px
				z-index: 1

				a
					font-size: 12px
					color: $grayDarkBlue
					line-height: 1.2
					font-weight: 600
					margin-bottom: 5px
					display: block

				span
					font-size: 10px
					line-height: 10px

		.viewMore
			display: inline-block
			position: relative
			float: left
			font-size: 25px
			padding: 20px
			color: $grayDarkBlue
			text-transform: uppercase
			font-weight: 600

			&:after
				content: ''
				position: absolute
				left: 20px
				bottom: 0
				height: 5px
				background-color: $grayDarkBlue
				width: 30px
				transition: width .4s

			&:hover, &:focus, &:active
				color: +darken($blue, 20%)
				cursor: pointer

				&:after
					width: 155px

		&.active
			// Loop animation.
			@for $i from 1 through 10
				article
					&:nth-child(#{$i})
						+animate(fadeIn)
						animation-delay: $i * 0.5s





// ------------------------------------------------------------------
// Our Ventures
// ------------------------------------------------------------------

#our_ventures
	align-items: center
	justify-content: center
	padding-top: 60px
	padding-bottom: 60px

	.row
		p
			color: $grayDarkBlue
			font-weight: 400
			font-size: 22px
			line-height: 28px
			+col(6,0,4,0)
			padding-right: 40px

			+small
				font-size: 16px
				line-height: 24px

			+tablet
				+col(12,0,6,0)
				margin-bottom: 30px
				font-size: 16px
				line-height: 24px

			+mobile
				+col(12,0,4,0)
				margin-bottom: 20px
				font-size: 14px
				line-height: 20px

		a
			+col(3,30,2,0)
			height: auto
			background: $whitePure
			position: relative
			padding: 20px

			img
				display: block
				opacity: 0.3
				width: 100%
				+filter(saturate,0%)

			&:hover
				+scale(1.1)
				z-index: 1
				+box-shadow(0, 15px, 100px, rgba($grayDarkBlue, 0.2))

				img
					opacity: 1
					+filter(saturate,100%)

			@for $i from 1 through 10
				.industryBox
					&:nth-of-type(#{$i})
						+animate(zoomIn)
						animation-delay: $i * 0.3s

			+tablet
				+col(4,30,2,0)
				img
					opacity: 1
					+filter(saturate,100%)

			+mobile
				+col(6,30,2,0)
				img
					opacity: 1
					+filter(saturate,100%)





// ------------------------------------------------------------------
// Solution by industry
// ------------------------------------------------------------------

#solutionsByIndustry
	.industryType
		display: block
		+clearfix

		.industryBox
			display: block
			width: 12.3%
			float: left
			height: 160px
			background: $whitePure
			position: relative
			margin: 0.1%

			img
				display: block
				width: 30%
				position: absolute
				top: 50%
				left: 50%
				margin-top: -15%
				margin-left: -15%
				opacity: 0.3
				+filter(saturate,0%)

			span
				position: absolute
				top: 100px
				right: 20px
				left: 20px
				bottom: 30px
				font-size: 12px
				line-height: 15px
				vertical-align: middle
				text-align: center
				font-weight: 600
				color: $grayDark
				opacity: 0

			&:hover, &.selected
				+scale(1.1)
				z-index: 1
				+box-shadow(0, 15px, 100px, rgba($grayDarkBlue, 0.2))

				img
					+scale(0.7)
					top: 40%
					opacity: 1
					+filter(saturate,100%)

				span
					opacity: 1

	.ventureList
		display: block
		+clearfix
		background: $whitePure
		float: none
		width: 100%
		overflow-x: hidden
		padding-bottom: 10px

		&.active
			// Loop animation.
			@for $i from 1 through 10
				.venture
					&:nth-of-type(#{$i})
						+animate(fadeInLeft)
						animation-delay: $i * 0.3s
		.venture
			+animate(fadeOut)
			display: block
			padding: 50px 50px 60px 300px
			border-bottom: 3px solid $whiteGray
			position: relative
			opacity: 0.8
			min-height: 300px

			img
				position: absolute
				top: 50%
				margin-left: -100px
				margin-top: -100px
				left: 150px
				width: 200px
				display: block

			.description
				display: block

				*:last-child
					margin-bottom: 0

				p, li, span
					font-size: 14px
					line-height: 1.6

				li
					list-style: disc inside
					margin-bottom: 10px

			& > a
				position: absolute
				right: 50px
				bottom: -10px
				padding: 15px 40px
				background: $grayDarkBlue
				color: $whitePure
				font-weight: 600
				text-transform: uppercase
				font-size: 15px
				line-height: 1
				text-align: center

			&:hover
				opacity: 1
				img
					+scale(1.1)



// ------------------------------------------------------------------
// Success Stories
// ------------------------------------------------------------------


#testimonialsWrapper
	display: block
	position: relative
	+clearfix

	section
		display: block
		position: relative
		+clearfix

	.testimonial
		display: block
		position: relative

		& > span, & > div
			display: block
			+clearfix

		.venture
			position: absolute
			top: 0
			left: 0
			width: 140px
			text-align: right
			font-size: 24px
			font-weight: 600
			line-height: 1.2

			+mobile
				width: 100%
				top: 0
				font-size: 20px

			+tablet
				width: 100%
				top: 0
				font-size: 20px

		.content
			position: relative
			margin-left: 180px
			margin-right: 70px
			margin-bottom: 170px
			padding: 60px 80px 170px 80px
			+bgCover
			background-color: $grayDarkBlue
			overflow: hidden

			+mobile
				margin: 50px 0 100px 0
				padding: 40px 20px 120px 20px

			+tablet
				margin: 50px 0 100px 0
				padding: 40px 60px 120px 60px


			p
				color: $whitePure
				font-size: 16px
				line-height: 30px
				font-weight: 600

				+mobile
					font-size: 14px
					line-height: 24px

				+tablet
					font-size: 14px
					line-height: 24px

		.avatar
			position: absolute
			left: 40px
			bottom: 40px
			height: 260px
			background: $whitePure
			width: 730px
			+box-shadow(0, 0px, 30px, rgba($grayDarkBlue, 0.6))

			img
				width: 260px
				height: 260px
				display: block
				float: left

			div
				float: left
				display: block
				width: 470px
				padding: 50px 20px 50px 60px

				h3
					font-size: 60px
					line-height: 0.9
					font-weight: 600
					margin-bottom: 20px

				span
					display: block
					font-weight: 300
					font-size: 24px
					line-height: 1

			+mobile
				left: auto
				right: 20px
				height: 80px
				width: 240px

				img
					width: 80px
					height: 80px

				div
					padding: 20px 20px
					width: 160px

					h3
						font-size: 16px
						margin-bottom: 5px

					span
						font-size: 10px
			+tablet
				height: 130px
				width: 500px

				img
					width: 130px
					height: 130px

				div
					padding: 30px
					width: 370px

					h3
						font-size: 30px

					span
						font-size: 18px


	#testimonialsNav
		position: absolute
		right: 0
		bottom: 40px
		width: 130px

		#next, #prev
			display: block
			width: 129px
			height: 129px
			display: block
			margin-top: 2px
			cursor: pointer


			&:hover
				+scale(1.1)

		#prev
			background: $whitePure url(img/testimonial/prev.png) center center no-repeat

		#next
			background: $whitePure url(img/testimonial/next.png) center center no-repeat

		+mobile
			width: 210px
			bottom: 121px
			right: 20px
			text-align: right

			#next, #prev
				display: inline-block
				width: 60px
				height: 60px
				background-size: 30px 18px

		+tablet
			width: 100px
			right: -10px

			#next, #prev
				width: 100px
				height: 64px
				background-size: 30px 18px


	.slick-slider
		position: relative
		display: block
		box-sizing: border-box
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		-webkit-touch-callout: none
		-khtml-user-select: none
		-ms-touch-action: pan-y
		touch-action: pan-y
		-webkit-tap-highlight-color: transparent

	.slick-list
		position: relative
		display: block
		overflow: hidden
		margin: 0
		padding: 0
		&:focus
			outline: none
		&.dragging
			cursor: pointer
			cursor: hand

	.slick-slider
		.slick-track, .slick-list
			-webkit-transform: translate3d(0, 0, 0)
			-moz-transform: translate3d(0, 0, 0)
			-ms-transform: translate3d(0, 0, 0)
			-o-transform: translate3d(0, 0, 0)
			transform: translate3d(0, 0, 0)

	.slick-track
		position: relative
		top: 0
		left: 0
		display: block
		margin-left: auto
		margin-right: auto
		&:before
			display: table
			content: ''
		&:after
			display: table
			content: ''
			clear: both

	.slick-loading .slick-track
		visibility: hidden

	.slick-slide
		display: none
		float: left
		height: 100%
		min-height: 1px

	[dir='rtl'] .slick-slide
		float: right

	.slick-slide
		img
			display: block
		&.slick-loading img
			display: none
		&.dragging img
			pointer-events: none

	.slick-initialized .slick-slide
		display: block

	.slick-loading .slick-slide
		visibility: hidden

	.slick-vertical .slick-slide
		display: block
		height: auto
		border: 1px solid transparent

	.slick-arrow.slick-hidden
		display: none






// ------------------------------------------------------------------
// Our DNA
// ------------------------------------------------------------------

#our_dna
	p, img
		width: 70%
		display: block
		margin: 0 auto 20px auto
		font-size: 16px

		+tablet
			width: 100%
			font-size: 14px

		+mobile
			width: 100%
			font-size: 14px



// ------------------------------------------------------------------
// Our Approach
// ------------------------------------------------------------------

#our_approach
	p
		width: 70%
		display: block
		margin: 0 auto 20px auto
		font-size: 18px

		+tablet
			width: 100%
			font-size: 14px

		+mobile
			width: 100%
			font-size: 14px

.imgApproach
	width: 100%
	display: block
	margin: 0 auto



// ------------------------------------------------------------------
// Conceive
// ------------------------------------------------------------------

#conceive
	.magazineCover
		top: -400px
		right: 40px
		position: absolute
		height: auto
		display: block
		z-index: 1
		width: 400px
		padding-bottom: 40px

		img
			display: block
			width: 100%
			z-index: 0

		a
			display: block
			position: absolute
			bottom: 20px
			left: 80px
			right: 80px
			padding: 15px 30px 20px 30px
			font-size: 16px
			line-height: 1.5
			background: $red
			+border-radius(10px)
			color: $whitePure
			text-transform: uppercase
			text-align: center
			z-index: 2

			+tablet
				padding: 10px 30px 15px 30px
				font-size: 14px
				left: 30px
				right: 30px


			+mobile
				padding: 10px 20px 15px 20px
				font-size: 12px
				left: 20px
				right: 20px
				+border-radius(4px)

		+mobile
			position: relative
			top: auto
			right: auto
			margin: 0 auto
			width: 70%

		+tablet
			top: -225px
			width: 280px

	+small
		.subtitle
			width: 60%

	+tablet
		.subtitle
			width: 55%



	p
		font-size: 18px

		+tablet
			font-size: 14px

		+mobile
			font-size: 14px

	.row
		h3
			+col(3,0,0,0)
			font-size: 38px
			line-height: 1
			text-transform: uppercase
			color: $grayDarkBlue
			font-weight: 600


			+tablet
				+col(12,0,0,0)
				font-size: 30px
				padding-bottom: 20px

			+mobile
				+col(12,0,0,0)
				font-size: 26px
				padding-bottom: 30px

		.visiontext
			+col(9,0,0,0)

			+tablet
				+col(12,0,0,0)

			+mobile
				+col(12,0,0,0)

		.hubPartner
			+col(3,0,0,0)
			padding: 20px

			img
				height: 60px
				display: block
				margin: 0 auto
				margin-bottom: 30px

			p
				font-size: 14px
				line-height: 1.8

			+tablet
				+col(4,0,0,0)
				img
					margin-bottom: 10px
					margin-top: 40px
					height: 50px
				p
					font-size: 12px
					line-height: 1.6

			+mobile
				+col(12,0,0,0)
				img
					margin-bottom: 10px
					margin-top: 40px
					height: 50px
				p
					font-size: 12px
					line-height: 1.6


.imgConceive
	width: 100%
	display: block
	margin: 0 auto
	
	+tablet
		margin-bottom: 40px

	+mobile
		margin-bottom: 40px




// ------------------------------------------------------------------
// News
// ------------------------------------------------------------------
#news
	padding-top: 60px
	padding-bottom: 10px

	article
		
		width: 33.3%
		padding: 20px
		height: 240px
		display: block
		position: relative
		float: left
		

		&.big
			width: 66.6%
			height: 480px
			h1
				font-size: 40px
				left: 70px
				bottom: 70px
				right: 70px

		a
			width: 100%
			height: 100%
			overflow: hidden
			display: block
			
			img
				display: block
				width: 100%
				height: auto
				+scale(1)

			&:hover
				img
					+filter(brightness, 60%)
					+scale(1.2)


		h1
			display: block
			position: absolute
			left: 50px
			right: 50px
			bottom: 50px
			margin: 0
			font-size: 18px
			line-height: 1.25
			color: $whitePure

		.label
			background: $whitePure
			position: absolute
			top: 30px
			right: 30px
			display: block
			padding: 15px
			z-index: 1

			a
				font-size: 12px
				color: $grayDarkBlue
				line-height: 1.2
				font-weight: 600
				margin-bottom: 5px
				display: block

			span
				font-size: 10px
				line-height: 10px

.pagination
	display: block
	padding: 20px
	text-align: center
	float: none
	border-top: 2px solid rgba(0,0,0,0.1)
	margin: 20px 20px 0 20px


	a
		display: inline-block
		font-weight: 600
		line-height: 30px
		min-width: 30px
		font-size: 12px
		font-weight: 600
		margin: 0 10px
		opacity: 0.5

		&.active
			background: $grayDarkBlue
			+border-radius(100%)
			opacity: 1
			color: $whitePure
			+scale(1.2)

		&:hover
			opacity: 1
			+scale(2)





// ------------------------------------------------------------------
// Our Culture
// ------------------------------------------------------------------

#our_culture
	section, .ourCultureImg
		display: block
		float: none
		position: relative

	.ourCultureImg2
		height: 800px

		span
			display: block
			position: absolute
			+bgCover
			padding: 60px
			background-position: center center
			background-repeat: no-repeat
			vertical-align: bottom
			font-size: 50px
			line-height: 1
			color: $whitePure

			&:nth-of-type(1)
				top: 10%
				bottom: 10%
				right: 53%
				width: 35%
				background-image: url(img/our_culture-image1.jpg)

			&:nth-of-type(2)
				top: 0
				width: 50%
				left: 50%
				bottom: 55%
				background-image: url(img/our_culture-image2.jpg)

			&:nth-of-type(3)
				top: 50%
				left: 50%
				bottom: 0px
				width: 40%
				background-image: url(img/our_culture-image3.jpg)

	.ourCultureImg
		display: block
		position: relative
		float: none
		padding-top: 20px
		padding-bottom: 40px
		+clearfix

		div
			position: relative
			width: 50%
			display: block
			float: left
			height: 300px

			.bg, .text
				display: block
				position: absolute
				
			.bg
				+bgCover
				padding: 60px
				background-position: center center
				background-repeat: no-repeat
				top: 0


			.text
				font-size: 40px
				line-height: 0.9
				color: $whitePure
				z-index: 1
				padding: 40px
				bottom: 0
				left: 0
				font-weight: 600
				padding-right: 100px


			&:nth-of-type(1)
				height: 600px

				.bg, .text
					left: 200px
					bottom: 0px
					right: 40px

				.bg
					background-image: url(img/our_culture-image1.jpg)



			&:nth-of-type(2)
				.bg, .text
					left: 0
					bottom: 40px
					right: 100px

				.bg
					background-image: url(img/our_culture-image2.jpg)
					background-position: center top


			&:nth-of-type(3)
				.bg, .text
					left: 0
					bottom: 0
					right: 300px

				.bg
					background-image: url(img/our_culture-image3.jpg)

			+tablet
				height: 250px

				.text
					font-size: 26px
					padding: 30px
					padding-right: 60px

				&:nth-of-type(1)
					height: 500px

					.bg, .text
						left: 100px
						right: 40px	

				&:nth-of-type(2)
					.bg, .text
						right: 0	

				&:nth-of-type(3)
					.bg, .text
						right: 150px
			+mobile
				height: 150px

				.text
					font-size: 16px
					padding: 20px

				&:nth-of-type(1)
					height: 300px

					.bg, .text
						left: 0
						right: 20px	

				&:nth-of-type(2)
					.bg, .text
						right: 0
						bottom: 20px	

				&:nth-of-type(3)
					.bg, .text
						right: 0








// ------------------------------------------------------------------
// Our Partners
// ------------------------------------------------------------------

.partnersWrapper
	width: 100%
	float: none
	display: block
	+clearfix
	background: $whitePure
	position: relative
	margin-top: 20px

	.wrapper
		padding-top: 60px

	.cta
		position: absolute
		top: -60px
		right: 0
		width: 400px
		padding: 15px 30px 20px 30px
		font-size: 20px
		line-height: 1.5
		+box-shadow(0, 6px, 0px, #0F91C8)
		background: $blue
		+border-radius(10px)
		color: $whitePure
		text-transform: uppercase
		text-align: center

		+tablet
			padding: 10px 30px 15px 30px
			font-size: 14px
			right: 40px
			width: 300px
			top: -30px


		+mobile
			padding: 10px 20px 15px 20px
			font-size: 12px
			right: auto
			left: 50%
			width: 280px
			top: -30px
			margin-left: -140px

	h3
		font-size: 40px
		line-height: 1.25
		font-weight: 600
		padding: 20px 0
		text-transform: uppercase

		+mobile
			font-size: 24px

		+tablet
			font-size: 30px

	.partner
		margin-bottom: 40px
		.img
			+col(2, 0, 0, 0)
			img
				display: block
				width: 100%

			+mobile
				+col(12,0,0,0)
				padding: 0px 50px 20px 50px

			+tablet
				+col(3, 0, 0, 0)

		.text
			+col(10, 0, 0, 0)
			padding-left: 60px
			padding-top: 20px
			p
				font-size: 14px
				line-height: 1.6


			+mobile
				+col(12,0,0,0)
				p
					font-size: 12px

			+tablet
				+col(9, 0, 0, 0)
				padding-left: 60px


#our_partners2

	p
		font-size: 18px

		+tablet
			font-size: 14px

		+mobile
			font-size: 14px

	.row
		h3
			+col(3,0,0,0)
			font-size: 38px
			line-height: 1
			text-transform: uppercase
			color: $grayDarkBlue
			font-weight: 600


			+tablet
				+col(12,0,0,0)
				font-size: 30px
				padding-bottom: 20px

			+mobile
				+col(12,0,0,0)
				font-size: 26px
				padding-bottom: 30px

		.text
			+col(9,0,0,0)
			padding-left: 60px

			+tablet
				+col(12,0,0,0)

			+mobile
				+col(12,0,0,0)








// ------------------------------------------------------------------
// Our people
// ------------------------------------------------------------------

#our_people
	& > h3
		font-size: 34px
		line-height: 1.2
		text-transform: uppercase
		margin: 0 auto
		margin-bottom: 40px
		width: 80%
		font-weight: 600
		text-align: center
		display: block

	& > p
		margin-bottom: 40px

	+tablet
		& > h3
			font-size: 20px

		.advisory, .leadership
			.people
				+col(6,0,0,0)
				padding-right: 2px

				.text
					padding: 20px 30px
					.name
						h4
							font-size: 20px
						span
							font-size: 14px

	+mobile
		& > h3
			font-size: 14px
			width: 100%

		.advisory, .leadership
			.people 
				+col(12,0,0,0)
				padding-right: 2px

				.text
					padding: 10px 15px
					.name
						h4
							font-size: 18px
						span
							font-size: 12px
					p
						font-size: 10px

.advisory, .leadership
	.people 
		+col(3,0,0,0)
		position: relative
		padding-bottom: 30px
		padding-right: 2px
		img
			display: block
			width: 100%

		.text
			position: relative
			bottom: 0
			margin: 0 auto
			width: 90%
			background: $whitePure
			+box-shadow(0, 0px, 50px, rgba($grayDarkBlue, 0.3))
			padding: 20px 30px
			+translateY(-30px)
			
			.name
				&, h4, span
					display: block
					margin-bottom: 5px
					line-height: 1.3

				h4
					font-size: 24px
					font-weight: 600

				span
					font-size: 14px

			p
				font-size: 12px
				margin: 15px 0 10px 0
				line-height: 1.4








// ------------------------------------------------------------------
// Post
// ------------------------------------------------------------------

#post
	#header
		height: 800px
		max-height: 800px

		#titleWrapper
			padding-top: 300px
			position: relative
			height: 100%

			#title
				position: absolute
				top: 50%
				+translateY(-50%)
				text-align: center
				left: 20px
				right: 20px

				h1
					display: block
					text-align: center
					width: 80%
					font-size: 70px
					line-height: 1
					margin: 60px 0 

				.category, .date
					display: block
					line-height: 40px
					padding: 0 30px
					font-size: 14px
					margin: 0 auto
					display: inline-block

				.category
					background: $whitePure
					color: $grayDarkBlue
					font-weight: 600

				.date
					color: $whitePure
					font-weight: 200

	.socialNav
		display: block
		background: $whitePure
		padding: 20px
		text-align: center

		a
			display: inline-block
			position: relative
			padding: 0 20px
			margin: 0 20px			

			img
				margin-top: -30px
				+scale(0.7)
				position: absolute
				top: 50%
				left: 50%
				opacity: 1
				margin-left: -37px
				margin-top: -35px

			span
				font-size: 16px
				display: block
				line-height: 80px
				font-weight: 600
				opacity: 0

			&:hover
				img
					opacity: 0.2
					+scale(1)
			
				span
					opacity: 1

	.content
		& > section
			margin-top: -180px
			padding: 60px 80px
			background: $whiteGray


	+mobile
		#header
			height: 360px
			max-height: 360px

			#titleWrapper

				#title
					+translateY(-40%)
					h1
						font-size: 22px
						margin: 30px 0
						width: 100%

					.category, .date
						line-height: 30px
						padding: 0 20px
						font-size: 10px
		.content
			& > section
				margin-top: 0
				padding: 0

				.socialNav
					padding: 20px
					a
						width: 50px
						height: 50px
						padding: 0
						margin: 10px

						span
							display: none

	+tablet
		#header

			#titleWrapper

				#title
					+translateY(-50%)
					h1
						font-size: 40px
						margin: 40px 0
						width: 100%

		.content
			& > section
				.socialNav
					padding: 20px
					a
						width: 50px
						height: 50px
						padding: 0
						margin: 10px

						span
							display: none




// ------------------------------------------------------------------
// TEMP
// ------------------------------------------------------------------












