// ------------------------------------
// MENU Start
// ------------------------------------

+mobileAndTablet
	#navWrapper

		#navMobileButton
			display: block
			visibility: visible
			pointer-events: auto
			z-index: 99
			opacity: 1

		#nav
			padding: 80px 20px 40px 20px
			background: rgba($grayDarkBlue, 0.8)
			position: absolute
			top: -20px
			left: 0
			right: 0
			height: auto
			text-align: right
			z-index: 98
			display: none
			+transition(none)

			li, a, span
				display: block
				float: none
				text-align: right

			& > li

				& > a
					font-size: 20px
					
				& > ul
					position: relative
					display: block
					top: auto
					left: auto
					right: auto
					width: auto
					margin: 0 10px

					li, span, a
						display: block
						font-size: 14px

						ul
							text-align: right
							padding: 10px 15px
							background: rgba(0,0,0,0.03)

							li
								display: inline-block
								width: 32%
								&:before
									left: auto
									right: 0


+mobile
	#navWrapper
		#nav
			& > li
				& > a
					font-size: 16px
					
				& > ul
					li, span, a
						ul
							li
								width: 95%


// ------------------------------------
// MENU End
// ------------------------------------

+mobile
	#homepage.mobile
		#header
			#titleWrapper
				padding-top: 100px
				h1
					font-size: 24px
					line-height: 1.2

				h2
					font-size: 16px
					line-height: 1.4

		#headerComplement
			section
				#blueBox
					padding: 10px 0
					width: auto
					text-align: center
					right: 0
					top: -40px
					width: 210px

					a
						display: block
						font-size: 18px
						padding: 10px 20px

				#venturesLinks
					+col(12,0,0,0)
					width: auto
					padding-top: 140px

					nav
						a
							+col(6,0,0,0)
							padding: 15px 0
							font-size: 14px
							line-height: 1.2

					h3
						padding-bottom: 20px
						margin-bottom: 10px

		#solutions

			.row
				h3
					font-size: 30px
					line-height: 30px
					+col(12,0,2,0)
					padding-bottom: 10px

				.industryBox
					+col(12,10,2,0)
					height: 80px

					span
						top: 50%
						+translateY(-50%)
						left: 100px
						right: 30px
						bottom: auto
						opacity: 1
						font-size: 14px
						line-height: 20px
						text-align: left

					img
						top: 50%
						opacity: 1
						+filter(saturate,100%)
						width: 40px
						margin-top: -20px
						margin-left: 0px
						left: 30px

		#corporateResponsibility
			height: auto
			padding-top: 0
			margin: 0

			&, & .wrapper
				height: auto

			h3, .responsibilityType, .quote
				position: relative
				top: auto
				left: auto
				right: auto
				bottom: auto
				display: block
				width: 100%
				margin-bottom: 20px

			h3
				font-size: 26px
				line-height: 30px
				text-align: center

			.responsibilityType
				width: 100%
				font-size: 24px
				height: 200px
				padding: 120px 40px 0 40px
				text-align: center

			.quote
				font-size: 20px
				text-align: center

				b
					padding-top: 10px
					font-size: 12px

		#shortcutsLinks
			height: 540px

			main
				& > div
					width: 240px
					padding: 40px 20px 20px 20px
					margin-left: -120px
					height: 300px

					h4
						font-size: 40px
						margin-bottom: 20px
						padding: 0 10px

					span
						font-size: 16px

					a
						height: 50px
						font-size: 14px
						width: 160px
						bottom: -30px
						line-height: 50px
						margin-left: -80px

			#prev
				margin-left: -120px

			#next
				margin-right: -120px


	.mobile
		#contactHeader
			display: block
			padding-top: 10px
			padding-bottom: 10px
			height: auto
			+clearfix
			display: none

			#tagline, #contactInfo
				display: block
				position: relative
				left: auto
				right: auto
				text-align: left
				width: 100%

				span
					line-height: 20px
					margin-right: 20px
					margin-left: 0


		.wrapper
			padding-left: 20px
			padding-right: 20px


		#header
			height: 240px
			max-height: 300px
			min-height: auto

			h1, h2
				+col(12,0,0,0)

			h1
				font-size: 30px 
				line-height: 30px
				margin-bottom: 0px

			.featureImg
				img
					min-height: auto
					min-width: auto
					height: 100%


			#titleWrapper
				padding-top: 130px


		#footer
			#sitemapWrapper
				#contactFooter
					+col(12,0,0,0)

					div
						padding: 0 30px
						+clearfix
						span
							font-size: 14px
							width: 100%
							display: block
							
				#sitemap
					+col(12,0,0,0)

					nav
						+col(12,0,0,0)
						a
							display: block
							width: 100%
							padding: 15px 0

						&.ventures
							nav 
								a
									width: 50%
									font-size: 13px
									float: left
									padding: 5px 0 5px 20px


			h4
				font-size: 24px
				margin-top: 40px

			#partnersFooter
				padding: 20px 0
				a
					width: 47%
					padding: 10px 0

					img
						height: 40px
						display: block
						margin: 0 auto

					&:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7)
						width: 100%
						img
							height: 50px


		.content
			padding-top: 40px
			padding-bottom: 20px

			.subtitle
				display: block
				position: relative
				padding-bottom: 30px
				margin-bottom: 30px
				font-size: 20px
				width: 100%
				b:before
					left: -8px
					top: -5px
					right: -8px
					bottom: -5px



	#solutionsByIndustry
		.industryType
			.industryBox
				width: 100%
				display: block
				height: 50px
				margin-bottom: 2px

				span
					top: 50%
					+translateY(-50%)
					left: 70px
					right: 20px
					bottom: auto
					opacity: 1
					font-size: 12px
					line-height: 15px
					text-align: left
					color: #D0D0D0

				img
					top: 50%
					width: 30px
					margin-top: -15px
					margin-left: 0px
					left: 20px

				&.selected
					+filter(saturate,100%)
					opacity: 1
					
					span
						color: $grayDarkBlue

					img
						+scale(1.1)
						top: 50%

		.ventureList
			.venture
				padding: 0 20px

				img
					position: relative
					display: block
					width: 160px
					margin: 0 auto
					left: auto
					top: auto

				& > a
					position: relative
					display: block
					width: 100%
					right: auto
					bottom: auto
					padding: 10px
					font-size: 12px
					margin: 20px 0


	#news
		padding-top: 10px

		h3
			padding: 0
			margin-bottom: 20px
			font-size: 45px
			line-height: 45px

		article
			padding: 0
			width: 100%
			margin-bottom: 20px
			height: 120px

			h1
				left: 20px
				bottom: 20px
				right: 20px
				font-size: 14px
				line-height: 1.2


			&.big
				height: 160px
				width: 100%

				h1
					font-size: 18px
					left: 20px
					bottom: 20px
					right: 20px

			.label
				padding: 10px
				top: -10px
				right: -10px

				a
					margin: 0

+tablet

	#homepage.tablet
		background-position: 200px 250px

		#header
			height: 450px

		#headerComplement
			section
				#blueBox
					padding: 20px 0
					width: auto
					text-align: center
					right: 0
					top: -70px

					a
						text-align: center
						display: inline-block
						width: auto
						font-size: 22px

				#venturesLinks
					+col(12,0,0,0)
					width: auto
					padding-top: 60px

					nav
						a
							padding: 20px

		#solutions
			padding-top: 0

			h3
				font-size: 34px
				line-height: 40px

			.industryBox
				height: 220px
				span
					top: 140px
					left: 20px
					right: 20px
					opacity: 1
					font-size: 14px
					line-height: 18px

				img
					top: 40%
					opacity: 1
					+filter(saturate,100%)

		#corporateResponsibility

			&, & .wrapper
				height: 540px

			h3
				top: 0
				left: 40px
				right: 40px
				text-align: center

			.responsibilityType
				width: 48%
				top: 100px
				font-size: 34px
				height: 300px

				&.social
					padding-left: 50px
					padding-top: 180px

				&.environmental
					padding-right: 50px
					padding-top: 180px

		#newsHome
			h3
				margin: 0

			article
				width: 50%
				height: auto

				&.big
					width: 100%

				.label
					padding: 10px
					top: 10px
					right: 10px

					a
						margin: 0


	.tablet

		#contactHeader
			display: none

			#tagline
				display: none

			#contactInfo
				left: 40px
				text-align: left

				span
					margin-right: 30px
					margin-left: 0


		#header
			height: 360px
			min-height: auto

			h1
				font-size: 50px
			h2
				font-size: 30px

			h1, h2
				line-height: 1.2
				+col(9,0,0,0)

			.featureImg
				img
					min-height: auto
					min-width: auto
					height: 100%

			#titleWrapper
				padding-top: 180px

		#footer
			#sitemapWrapper
				#contactFooter
					+col(12,0,0,0)

					div
						padding: 0 30px
						+clearfix
						span
							font-size: 14px
							width: 25%
							display: block
							float: left

							&:first-child
								width: 50%
				#sitemap
					+col(12,0,0,0)

					nav
						padding-left: 0
						padding-right: 20px

		.content
			padding-top: 40px
			padding-bottom: 20px

			.subtitle
				display: block
				position: relative
				padding-bottom: 40px
				margin-bottom: 40px
				font-size: 30px
				width: 100%


	#solutionsByIndustry
		.industryType
			.industryBox
				//display: block
				width: 24.8%
				//float: left
				//height: 160px
				//background: $whitePure
				//position: relative
				margin: 0.1%

				span
					opacity: 1
					color: #D0D0D0
					top: 110px

				img
					top: 40%

				&.selected
					+filter(saturate,100%)
					opacity: 1
					
					span
						color: $grayDarkBlue

					img
						+scale(1.1)
						top: 40%

		.ventureList
			.venture
				padding: 0 40px
				padding-bottom: 50px

				img
					position: relative
					display: block
					width: 160px
					left: auto
					top: auto
					margin: 0

				& > a
					padding: 15px 40px
					font-size: 12px
					

	#news
		h3
			margin: 0

		article
			width: 50%
			height: auto

			&.big
				width: 100%
				height: 430px

			.label
				padding: 10px
				top: 10px
				right: 10px

				a
					margin: 0


+small
	.small

		#contactHeader
			#contactInfo
				span
					margin-left: 30px	

		#headerComplement
			section
				#blueBox
					padding-left: 20px
					padding-right: 20px
					width: 280px

					a
						padding-left: 10px
						padding-right: 10px
						font-size: 24px

				#venturesLinks
					padding-left: 320px

					nav
						a
							padding: 15px 20px 
							opacity: 0.6



		#newsHome, #news
			article
				height: 195px

				&.big
					height: 390px
					
					h1
						left: 60px
						right: 60px
						bottom: 60px
						font-size: 30px


				h1
					left: 40px
					right: 40px
					bottom: 40px
					font-size: 16px

				.label
					padding: 10px
					top: 30px
					right: 30px

					a
						margin: 0




+default
	p
		font-size: 16px

+large 
	p
		font-size: 18px


+xLarge 
	p
		font-size: 20px


+xxLarge
	p
		font-size: 22px

