+mobile
	#homepage.mobile

		#contactHeader
			display: block
			padding-top: 10px
			padding-bottom: 10px
			height: auto
			+clearfix
			display: none

			#tagline, #contactInfo
				display: block
				position: relative
				left: auto
				right: auto
				text-align: left
				width: 100%

				span
					line-height: 20px
					margin-right: 20px
					margin-left: 0

			

		.wrapper
			padding-left: 20px
			padding-right: 20px

		#lakebaLogo
			left: 20px
			z-index: 99

		#navWrapper
			padding-top: 20px

			#navMobileButton
				display: block
				visibility: visible
				pointer-events: auto
				z-index: 99


			#nav
				left: 100%
				right: 0
				overflow: hidden
				top: -20px
				padding-top: 80px
				padding-bottom: 20px
				max-width: 0
				height: auto
				min-height: 100%
				background: rgba($grayDarkBlue, 0.9)
				padding-right: 20px

				& > li
					+animate(fadeOutLeft)

				a, & > li
					display: block

				&.show
					left: 0
					max-width: 100%

					@for $i from 1 through 30
						& li, nav
							&:nth-of-type(#{$i})
								+animate(fadeInRight)
								animation-delay: $i * 0.3s


		#titleWrapper
			padding-top: 70px

		header
			height: 460px
			max-height: 460px
			min-height: auto

			h1, h2
				+col(12,0,0,0)

			h1
				font-size: 40px 
				line-height: 40px
				margin-bottom: 10px
			h2
				font-size: 20px
				line-height: 24px

		#headerComplement
			section
				#blueBox
					padding: 10px 0
					width: auto
					text-align: center
					right: 0
					top: -40px
					width: 210px

					a
						display: block
						font-size: 18px
						padding: 10px 20px

				#venturesLinks
					+col(12,0,0,0)
					width: auto
					padding-top: 140px

					nav
						a
							+col(4,0,0,0)
							padding: 15px 0
							font-size: 16px

					h3
						padding-bottom: 20px
						margin-bottom: 10px


		#solutionsByIndustry

			.row
				h3
					font-size: 30px
					line-height: 30px
					+col(12,0,2,0)
					padding-bottom: 10px

				.industryBox
					+col(12,10,2,0)
					height: 80px

					span
						top: 50%
						+translateY(-50%)
						left: 100px
						right: 30px
						bottom: auto
						opacity: 1
						font-size: 14px
						line-height: 20px
						text-align: left

					img
						top: 50%
						opacity: 1
						+filter(saturate,100%)
						width: 40px
						margin-top: -20px
						margin-left: 0px
						left: 30px




		#corporateResponsibility
			height: auto
			padding-top: 0
			margin: 0

			&, & .wrapper
				height: auto

			h3, .responsibilityType, .quote
				position: relative
				top: auto
				left: auto
				right: auto
				bottom: auto
				display: block
				width: 100%
				margin-bottom: 20px

			h3
				font-size: 26px
				line-height: 30px
				text-align: center

			.responsibilityType
				width: 100%
				font-size: 24px
				height: 200px
				padding: 120px 40px 0 40px
				text-align: center

			.quote
				font-size: 20px
				text-align: center

				b
					padding-top: 10px
					font-size: 12px


		#shortcutsLinks
			height: 540px

			main
				& > div
					width: 240px
					padding: 40px 20px 20px 20px
					margin-left: -120px
					height: 300px

					h4
						font-size: 40px
						margin-bottom: 20px
						padding: 0 10px

					span
						font-size: 16px

					a
						height: 50px
						font-size: 14px
						width: 160px
						bottom: -30px
						line-height: 50px

			#prev
				margin-left: -120px

			#next
				margin-right: -120px


		#news
			padding-top: 10px

			h3
				padding: 0
				margin-bottom: 20px
				font-size: 45px
				line-height: 45px

			article
				padding: 0
				width: 100%
				margin-bottom: 20px
				height: 160px

				h1
					left: 20px
					bottom: 20px
					right: 20px
					font-size: 14px
					line-height: 1.2


				&.big
					height: 320px

					h1
						font-size: 18px

				.label
					padding: 10px
					top: 10px
					right: 10px

					a
						margin: 0

		#footer
			#sitemapWrapper
				#contactFooter
					+col(12,0,0,0)

					div
						padding: 0 30px
						+clearfix
						span
							font-size: 14px
							width: 100%
							display: block
							
				#sitemap
					+col(12,0,0,0)

					nav
						+col(12,0,0,0)
						a
							display: block
							width: 100%
							padding: 10px 0

						&.ventures
							a
								width: 50%
								font-size: 14px
								float: left

						& > a:first-child, & > a:last-child
							width: 100%

			h4
				font-size: 24px
				margin-top: 40px

			#partnersFooter
				padding: 20px 0
				a
					width: 47%
					padding: 10px 0

					img
						height: 40px
						display: block
						margin: 0 auto

					&:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7)
						width: 100%
						img
							height: 50px


+tablet
	#homepage.tablet

		#contactHeader
			display: none

			#tagline
				display: none

			#contactInfo
				left: 40px
				text-align: left

				span
					margin-right: 30px
					margin-left: 0

			
		#lakebaLogo
			left: 20px
			z-index: 99

		#navWrapper
			padding-top: 20px

			#navMobileButton
				display: block
				visibility: visible
				pointer-events: auto
				z-index: 99


			#nav
				left: 100%
				right: 0
				overflow: hidden
				top: -20px
				padding-top: 80px
				padding-bottom: 20px
				max-width: 0
				height: auto
				min-height: 100%
				background: rgba($grayDarkBlue, 0.9)
				padding-right: 20px

				& > li
					+animate(fadeOutLeft)

				a, & > li
					display: block

				&.show
					left: 0
					max-width: 100%

					@for $i from 1 through 30
						& li, nav
							&:nth-of-type(#{$i})
								+animate(fadeInRight)
								animation-delay: $i * 0.3s

		#titleWrapper
			padding-top: 120px

		header
			height: 500px

			h1
				font-size: 50px
			h2
				font-size: 30px

			h1, h2
				line-height: 1.2
				+col(9,0,0,0)

		#headerComplement
			section
				#blueBox
					padding: 20px 0
					width: auto
					text-align: center
					right: 0
					top: -70px

					a
						text-align: center
						display: inline-block
						width: auto
						font-size: 22px

				#venturesLinks
					+col(12,0,0,0)
					width: auto
					padding-top: 60px

					nav
						a
							padding: 20px


		#solutionsByIndustry

			.industryBox
				height: 220px

				span
					top: 140px
					left: 20px
					right: 20px
					opacity: 1
					font-size: 14px
					line-height: 18px

				img
					top: 40%
					opacity: 1
					+filter(saturate,100%)



		#corporateResponsibility

			&, & .wrapper
				height: 540px

			h3
				top: 0
				left: 40px
				right: 40px
				text-align: center

			.responsibilityType
				width: 48%
				top: 100px
				font-size: 34px
				height: 300px

				&.social
					padding-left: 50px
					padding-top: 180px

				&.environmental
					padding-right: 50px
					padding-top: 180px

		#news
			h3
				margin: 0

			article
				width: 50%
				height: auto

				&.big
					width: 100%

				.label
					padding: 10px
					top: 10px
					right: 10px

					a
						margin: 0

		#footer
			#sitemapWrapper
				#contactFooter
					+col(12,0,0,0)

					div
						padding: 0 30px
						+clearfix
						span
							font-size: 14px
							width: 25%
							display: block
							float: left

							&:first-child
								width: 50%
				#sitemap
					+col(12,0,0,0)

					nav
						padding-left: 0
						padding-right: 20px

+default

+large 

+xLarge 

+xxLarge

